<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
<div class="navbar">
    <nav class="navbar navbar-transparent navbar-custom fixed-top justify-content-end navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand me-2" href={{ path('app_main_index') }}>
                <img src="{{ asset('img/Logo.png') }}" height="45px" alt="MDB Logo" loading="lazy" style="margin-top: -1px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_main_index') }}">Accueil</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_technicien') }}">Nos techniciens</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_machine') }}">Notre catalogue</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_mention_legale') }}">Mention légale</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}">Contacter-nous</a> </li>
                </ul>
                <!--<form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
</div>